<!doctype html>
<html>
<head>
	<title>CS602 HW2 PART2</title>
</head>
<body>
<header>
	<img src="/images/bu-logo.gif" alt="logo">
</header>
<h2>CS602 HW2 - Kutarnia</h2>
		<a href="/">Home</a>|
		<a href="/about">About</a> |
		<a href="/foo">Foo</a> |
<hr/>

	{{{body}}}

</body>
</html>

